{% extends "template.html" %}

{% block content %}
<div class="flex flex-col justify-center gap-y-6">
    {% if session['user'] %}
        {% if session['user']['_id'] == user_id %}
        <div class="text-center">
            <a href="{{  url_for('route.add_recipe')  }}">
                <button type="submit" class="p-2 inline w-auto rounded-full bg-white text-gray-800 focus:outline-none focus:shadow-outline  hover:bg-gray-300" title="Přidat recept">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>                           
                </button>
            </a>
        </div>
        {% endif %}
    {% endif %}

    {% for recipe in recipes if recipes%}
    <div
        class="relative w-full flex-col md:flex-row md:space-x-5 space-y-3 md:space-y-0 rounded-xl shadow-lg p-3 max-w-xs md:max-w-3xl mx-auto border border-white bg-white">
        <div class="w-full bg-white flex flex-col space-y-2 p-3">
            <div class="flex justify-between item-center">
                <p class="text-gray-500 font-medium hidden md:block">Recept</p>
                <div class="flex items-center">
                    <span class="text-gray-500 font-normal">{{ datetime.fromisoformat(recipe["date"]).strftime("%H:%M %d.%m.%Y") }}</span>
                </div>
                <a href="{{url_for('route.user_recipes', user_id=recipe['author']['_id'])  }}" class="bg-gray-200 px-3 py-1 rounded-full text-xs font-medium text-gray-800 hidden md:block">{{
                    recipe["author"]["name"] }}</a>
            </div>
            <h3 class="font-black text-gray-800 md:text-3xl text-xl">{{ recipe["name"] }}</h3>
            <span class="font-normal text-gray-600 text-base text-xs">Ingredience:</span>
            <span class="font-normal text-gray-600 text-base">{{ recipe["ingredients"] }}</span>
            <p class="md:text-lg text-gray-500 text-base">{{ recipe["description"] }}</p>
            {% if session['user'] == recipe['author'] %}
            <div class="inline-flex mb-5 !mt-14">
                <form action="{{  url_for('route.edit_recipe', id=recipe['_id'])  }}" class="w-1/2">
                    <button type="submit" class="w-full rounded-l-lg border border-gray-200 bg-white text-sm font-medium px-4 py-2 text-gray-900 hover:bg-gray-100 hover:text-blue-700 focus:z-10">
                        Upravit recept
                    </button>
                </form>
                <form action="{{  url_for('route.remove_recipe', id=recipe['_id'])  }}" class="w-1/2">
                    <button type="submit" class="w-full rounded-r-md border border-gray-200 bg-white text-sm font-medium px-4 py-2 text-gray-900 hover:bg-gray-100 hover:text-blue-700 focus:z-10">
                        Odstranit recept
                    </button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
    {% else %}
    <div
    class="relative w-full flex-col md:flex-row md:space-x-5 space-y-3 md:space-y-0 rounded-xl shadow-lg p-3 max-w-xs md:max-w-3xl mx-auto border border-white bg-white">
    <div class="w-full bg-white flex flex-col space-y-2 p-3">
        <h3 class="font-black text-gray-600 text-xl text-center">Žádné recepty</h3>
    </div>
</div>
    {% endfor %}
</div>
{% endblock %}